:root{
    /*Farbkombi 1*/
    --farbe1: #591902;
    --farbe2: #BF4904;
    --farbe3: #D96704;
    --farbe4: #F29F05;
    --farbe5: #ffe492;

    

}
body {
    background-color: var(--farbe4);
    color: var(--farbe1);
    margin:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    
    text-align: center;
    margin-bottom: 40px;
   
}
h1{
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 30px;

}
/*--------------------------------NAVIGATIONSBAR--------------------------------------*/
nav{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    font-size: 20px;
    background-color: rgb(215, 103, 4);
    /*backdrop-filter: blur(8px);*/
    position: fixed;
    top:0;
    
}
.nav{
    padding-right: 5%;
    padding-left: 5%;
    text-decoration: none;
    color: var(--farbe1);
}
.nav:hover{
    color: var(--farbe5);
}
/*------------------------------------ÜBER MICH---------------------------------------*/

#ueM{
        font-size: 2rem;
        margin-top: 10%;
        margin-bottom: 0px;
    }
#UeberMichContainer{
    margin-top: 0px;
    margin-bottom: 60px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;

    
    background-color: var(--farbe3);
    
    mask-image: url(resources/maske1.PNG);
    mask-mode: luminance;
    mask-size: 100% 100%;
    mask-position:left top;
    mask-repeat: no-repeat;     
}

.imgUndtext{
    
  display:grid;
  justify-items: center;
  gap: 20px;
  padding: 20px;
  padding-bottom: 30px;
}
#profilbild{
  
    width: 40%;
    height: auto;

}
#text{
    justify-items: center;
}

.ueMichTxt{
    
    font-weight: bold;
    font-size:1rem;
    
}

/*----------------------------------BÜCHER--------------------------------------*/

.Buch{
    
    background-color: rgb(217, 103, 4,0.3);
    margin:10px;
    padding: 20px;

    display: grid;

    justify-items: center;
    gap:20px;


}

.BuchBild{

    align-self: center;
    width:100%;
    cursor: pointer;
    

}
.imgContainer{
    width:60%;
    height: auto;
    background-color: rgb(217, 103, 4,0.05);
    padding: 10px;
}
.imgContainer:hover{
    background-color: #BF4904;
}


.txt{
    
    font-size: 1.2rem;
}

.tooltip {
    position: absolute;       /* Tooltip schwebt über der Seite */
    background: var(--farbe1);         /* dunkler Hintergrund */
    color:var(--farbe5);             /* Textfarbe */
    padding: 6px 10px;        /* Platz um den Text */
    border-radius: 5px;       /* abgerundete Ecken */
    font-size: 14px;

    pointer-events: none;     /* verhindert Hover-Probleme */
    opacity: 0;               /* unsichtbar beim Start */
    transition: opacity 0.2s; /* weiches Ein- und Ausblenden */
}

.overlay{
        position: fixed;
        inset: 1em;
        background: rgba(0, 0, 0, 0.5);  /* Abdunkelung */
        border-radius: 10px;
        display: none;            /* unsichtbar, bis es geöffnet wird */
        justify-content: center;  /* Modal mittig horizontal */
        align-items: center;      /* Modal mittig vertikal */
        
        z-index: 9999;   
        
    }
.modal {
        
        
        padding:10px;
        
        border-radius: 10px;
        padding-top: 20px;
        width: 90%;
        height: 90%;
        display: grid;
        justify-content: center;
        align-content: top;

        grid-template-columns: 100%;
        
        
        /*gap:1em;*/

        grid-template-areas: 
            'box1'
            'box2'
            'boxz'
            'box3'
            'box4'
            'box5'
            ;

        z-index: 10000;           /* höher als overlay (optional) */
        overflow-y: auto;
    
    }
    #modal1{
        background-color:#663D5B;
        color: rgba(255, 235, 205, 0.77);
        grid-template-rows: 20% 50% 7% 50% 1% 10%;
    }
    #modal2{
        background-color:#1c2d18;
        color: #371A09;
        grid-template-rows: 20% 50% 7% 50% 1% 10%;
    }
    #modal3{

    }
    #modal4{

    }

    /*---------------------------------------------MODAL-----------------------------------*/
    .gridbox{
        /*background-color: yellow;*/
        display:flex;
        justify-content: center;
        
        border-radius: 10px;
        
        padding: 20px;
       
    }

    
    
   
    
    #modal-cover{
        width:100%;
        max-width: 350px;
        height: auto;

    }
    #modal-beschreibung{
        
        width: 90%;
    
        font-size: 3vw;
        line-height: 4vw;
        

    }








/*----------------------------KONTAKTBOX-------------------------------------*/

#Kontaktbox{
    background-color: var(--farbe3);
    height: 500px;
    margin-bottom: 10px;
    padding: 20px;

}

#Kontaktaufnahme{
    width: 20%;
}



/*-----------------------------------ALTERNATIVE BILDSCHIRMGROEßEN-----------------------------------------------*/



@media (min-width: 800px){

    .txt{
    font-size: 30px;
    }

    #UeberMichContainer{
        margin-top: 0px;
        margin-bottom: 60px;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .imgUndtext{
    
        display:flex;
        gap: 30px;
        align-items: center;
        padding: 20px;
    }
    
    .ueMichTxt{
    
        font-weight: bold;
        font-size:1.3rem;
        width: 95%;
        text-align: center;
        
    }
    #profilbild{
  
        max-width: 20%;
        height: auto;

    }
    #text{
        width: 80%;
        align-self: center;
        justify-self: right;
        
    }
   
    /*-----------------------------------------------------*/
    /*BÜCHER*/

    .Buch{
        margin:10px;
        padding: 20px;
        background-color: rgb(217, 103, 4,0.3);
        /*backdrop-filter: blur(8px);*/
        display: flex;
        align-items: center;
      
    }
    .txt{
        
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 10px;

        font-size: 1.5rem;;
    }
    .BuchBild{
        max-width:100%;
        height: auto;
    }
    .imgContainer{
        width: 30%;
    }

    #Buch2,#Buch4{
        flex-direction: row-reverse;
    }

    .modal {
    
    /*background-color: #663D5B;
    color:rgba(255, 235, 205, 0.672);*/
    justify-content: center;
    grid-template-columns: 33% 30% 20%;
    
    gap:0.5em;
    grid-template-areas: 
        'box1 box1 box1'
        'box2 boxz boxz'
        'box2 box3 box3'
        'box4 box4 box4'
        'box5 box5 box5'
        ;

    }
    #modal1{
        grid-template-rows: 20% 5% 40% 10% 20%;
        
        
    }

    #modal2{
        grid-template-columns: 35% 30% 30%;
        grid-template-rows: 20% 7% 60% 10% 20%;
        grid-template-areas: 
        'box1 box1 box1'
        'boxz boxz boxz'
        'box2 box3 box3'
        'box4 box4 box4'
        'box5 box5 box5'
        ;

    }
    #modal2box2{
        align-items: center;
    }
    #modal3{

    }

    /*---------------------------------------------MODAL-----------------------------------*/
    .gridbox{
        align-items: center;
        padding: 20px;
        
        /*background-color: rgba(182, 169, 215, 0.4);*/
        /*border-radius: 10px;*/
        
    }
    

    #modal-cover{
        width:100%;
        max-width: 320px;

        height: auto;

    }
    #modal-beschreibung{
        
        width: 100%;
        align-self:baseline;
        font-size: 1em;
        line-height: 1.3em;
        
    }

    
    /*-----------------------KONTAKT-----------------------*/
    
    #Kontaktbox{

        display: flex;
        justify-content: center;
        
    }
    
    #Kontaktaufnahme{
    width: 10%;
    }
    #Kontakttext{
        width: 60%
    }

            

}

@media (min-width: 1200px){
    .nav{
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px;

    }
    h1{
    padding-top: 100px;
    font-size: 60px;
    }
    .txt{
    font-size: 1.2rem;
    }
    .modal {
   
        grid-template-columns: 400px 30% 20%;
    
    
    }
    #modal2{
        grid-template-columns: 20% 30% 30%;
        grid-template-rows: 20% 7% 50% 10% 20%;
    }

    #modal-beschreibung{
        
        width: 90%;
    
        font-size: 1.1em;
        line-height: 1.4em;

    }
    #modal2box2{
        align-items: baseline;
    }
    
   
    
}





