:root{
    /*Farbkombi 1*/
    --farbe1: #591902;
    --farbe2: #BF4904;
    --farbe3: #D96704;
    --farbe4: #F29F05;
    --farbe5: #ffe492;

    

}


@font-face {
  font-family: 'Ranade-Light';
  src: url('resources/fonts/ranade/Ranade-Light.woff2') format('woff2'),
       url('resources/fonts/ranade/Ranade-Light.woff') format('woff'),
       url('resources/fonts/ranade/Ranade-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Ranade-Medium';
  src: url('resources/fonts/ranade/Ranade-Medium.woff2') format('woff2'),
       url('resources/fonts/ranade/Ranade-Medium.woff') format('woff'),
       url('resources/fonts/ranade/Ranade-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


body {
    background-color: var(--farbe4);
    color: var(--farbe1);
    margin:0px;
    font-family:'Ranade-Light';
}
header {
    
    text-align: center;
    margin-bottom: 40px;
   
}
h1{
    font-family:'Ranade-Medium';
    padding-top: 120px;
    padding-bottom: 40px;
    
}
h2{
    font-family:'Ranade-Medium';
    text-align: center;
    font-size: 1.5rem;

}
p{
    line-height: 1.5em;
}
/*--------------------------------NAVIGATIONSBAR--------------------------------------*/
nav{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    font-size: 20px;
    background-color: rgb(215, 103, 4);
    /*backdrop-filter: blur(8px);*/
    position: fixed;
    top:0;
    z-index: 1000;
    
}

.nav{
    padding-right: 5%;
    padding-left: 5%;
    text-decoration: none;
    color: var(--farbe1);
}
.nav:hover{
    color: var(--farbe5);
}
section {
  scroll-margin-top: 200px; /* Höhe deiner Navbar */
}

/*------------------------------------ÜBER MICH---------------------------------------*/

#ueM{
    /*font-size: 2rem;*/
    margin-top: 10%;
    margin-bottom: 0px;
    }
#UeberMichContainer{
    margin-top: 0px;
    margin-bottom: 60px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;

    
    background-color: var(--farbe3);
    
    mask-image: url(resources/maske1.PNG);
    mask-mode: luminance;
    mask-size: 100% 100%;
    mask-position:left top;
    mask-repeat: no-repeat;     
}

.imgUndtext{
    
  display:grid;
  justify-items: center;
  gap: 20px;
  padding: 20px;
  padding-bottom: 30px;
}
#profilbild{
  
    width: 40%;
    height: auto;

}
#text{
    font-size: 1.5rem;
    line-height: 1.5em;
    justify-items: center;
}

.ueMichTxt{
    font-family:'Ranade-Medium';
    font-weight: bold;
    font-size:1rem;
    
}
/*-----------------------------------AUTORIN-----------------------------------------------*/
#Autorin{
    background-color: var(--farbe4);
    height: fit-content;
    margin: 30px;
    border: 2px solid var(--farbe2);
    border-radius: 15px;
    padding: 20px;
}
#biografie{
    
    font-size: 1.2rem;
    line-height: 1.5em;
    padding: 20px;
}

/*----------------------------------BÜCHER--------------------------------------*/

#buecherContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    
    
}
.imgContainer2{
    
    margin:20px;
    padding: 10px;
    background-color: rgb(217, 103, 4,0.3);

}
.imgContainer2:hover{
    background-color: #BF4904;
}



#Buecher{
    scroll-margin-top: 150px;
}


.BuchBild{

    align-self: center;
    min-width: 350px;
    width:100%;
    cursor: pointer;
    
}


.tooltip {
    position: absolute;       /* Tooltip schwebt über der Seite */
    background: var(--farbe1);         /* dunkler Hintergrund */
    color:var(--farbe5);             /* Textfarbe */
    padding: 6px 10px;        /* Platz um den Text */
    border-radius: 5px;       /* abgerundete Ecken */
    font-size: 14px;

    pointer-events: none;     /* verhindert Hover-Probleme */
    opacity: 0;               /* unsichtbar beim Start */
    transition: opacity 0.2s; /* weiches Ein- und Ausblenden */
}

.overlay{
        position: fixed;
        inset: 1em;
        background: rgba(0, 0, 0, 0.5);  /* Abdunkelung */
        border-radius: 10px;
        display: none;            /* unsichtbar, bis es geöffnet wird */
        justify-content: center;  /* Modal mittig horizontal */
        align-items: center;      /* Modal mittig vertikal */
        
        z-index: 9999;   
        overflow-y: hidden;
        
    }
.modal {
        
    padding:10px;
    
    border-radius: 10px;
    padding-top: 20px;
    width: 90%;
    height: 90%;
    display: grid;
    justify-content: center;
    align-content: start;

    grid-template-columns: 100%;
    
    
   

    grid-template-areas: 
        'box1'
        'box2'
        'box3'
        'box4'
        'box3-4'
        'box5'
        'box6'
        ;

    z-index: 10000;           /* höher als overlay (optional)*/ 
    overflow-y: auto;
    
    
    scrollbar-width: none; /*Scrollbar unsichtbar auf firefox*/
    
}
/*Scrollbar für chrome unsichtbar machen*/
.modal::-webkit-scrollbar {
  display: none;
}


#modal1{
    background-color:#663D5B;
    color: rgba(255, 235, 205, 0.77);
    /*grid-template-rows: 20% 50% 7% 50% 1% 10%;*/
}

#modal2{
    background-color:#1c2d18;
    color: #371A09;
    
}
#modal3{
    background-color:#560256;
    color: #393131;
    
}
#modal4{
    background-color:#033601;
    color: #000000;
    
}
button{

    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(134, 38, 38);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    }

button:hover {
    letter-spacing: 3px;
    /*background-color: #D76706;
    color: black;
    box-shadow: #924706 0px 7px 29px 0px;*/
}

button:active {
    letter-spacing: 3px;
    /*background-color: #924706;
    color: hsl(0, 0%, 100%);
    box-shadow: #924706 0px 0px 0px 0px;*/
    transform: translateY(10px);
    transition: 100ms;
}
.buttonb1{
    background-color: rgba(255, 235, 205, 0.77);
}
.buttonb1:hover{
    background-color: #663D5B;
    color: black;
    box-shadow: #482b40 0px 7px 29px 0px;
}
.buttonb1:active{
    background-color: #663D5B;
    color: hsl(0, 0%, 100%);
    box-shadow: #482b40 0px 0px 0px 0px;
}

.buttonb2{
    background-color: rgba(249, 204, 98, 0.77);
}
.buttonb2:hover{
    background-color: #D76706;
    color: black;
    box-shadow: #924706 0px 7px 29px 0px;background-color: #D76706;
    
}
.buttonb2:active{
    background-color: #924706;
    color: hsl(0, 0%, 100%);
    box-shadow: #924706 0px 0px 0px 0px;
}
.buttonb3{
    background-color: rgba(255, 235, 205, 0.77);
}
.buttonb3:hover{
    background-color: #ae55c9;
    color: black;
    box-shadow: #743886 0px 7px 29px 0px;
}
.buttonb3:active{
    background-color: #743886;
    color: hsl(0, 0%, 100%);
    box-shadow: #743886 0px 0px 0px 0px;
}
.buttonb4{
    background-color: rgba(255, 0, 0, 0.449);
}
.buttonb4:hover{
    background-color: #ff0000;
    color: black;
    box-shadow: #8e0000 0px 7px 29px 0px;
}
.buttonb4:active{
    background-color: #8e0000;
    color: hsl(0, 0%, 100%);
    box-shadow: #924706 0px 0px 0px 0px;
}

#closeModal{
    padding: 10px 10px;
    background-color: #b19888;
    align-content: end;
}
/*---------------------------------------------MODAL-----------------------------------*/
.gridbox{
    /*background-color: yellow;*/
    display:flex;
    justify-content: center;
    
    height: fit-content;
    border-radius: 10px;

    padding: 20px;
    margin: 5px;
    
    
}

.modal-title{
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    
}   
#modal1-title,#modal2-title,#modal3-title,#modal4-title{
    display: block;
    
    
}

#modal1-subtitle,#modal2-subtitle,#modal3-subtitle,#modal4-subtitle{
    justify-self: center;
}

#modal-cover{
    min-width: 200px;
    max-width: 300px;
    height: auto;
    display:block;
    align-self: center;
}



#modal-beschreibung1,#modal-beschreibung2,#modal-beschreibung3,#modal-beschreibung4{
    
    width: 90%;
    

    font-size: 1.3em;
    line-height: 1.2em;
    

}

.technische-details{
    display: block;
    gap: 10px;
    justify-items: center;
}
#Buchbestellbutton{
    display: grid;
    
    gap: 5px;
    justify-content: center;
    grid-template-areas: 
    'p1'
    'p2' 
    'p3'
    'p4';
}
.modal-entstehung{
        
    display: flex;
    flex-direction: column;
    height:fit-content;
}
#schliessenb{
    background-color: rgba(255, 255, 255, 0); 
}

/*-----------------------AKTUELLES-----------------------*/
#Aktuelles{
    
    margin: 30px;
   
}
#neuigkeiten{
    display:block;
    
}
#neuigtxt{
    justify-self: center;
}

    
/*----------------------------KONTAKTBOX-------------------------------------*/

#Kontaktbox{
    background-color: var(--farbe4);
    height: 500px;
    margin-bottom: 10px;
    padding: 20px;

}

#Kontaktaufnahme{
    width: 20%;
    
}


/*-----------------------------------ALTERNATIVE BILDSCHIRMGROEßEN-----------------------------------------------*/


@media (min-width: 800px){


    #UeberMichContainer{
        margin-top: 0px;
        margin-bottom: 60px;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .imgUndtext{
    
        display:flex;
        gap: 30px;
        align-items: center;
        padding: 20px;
    }
    
    .ueMichTxt{
    
        font-weight: bold;
        font-size:1.3rem;
        width: 95%;
        text-align: center;
        
    }
    #profilbild{
  
        max-width: 20%;
        height: auto;

    }
    #text{
        width: 80%;
        align-self: center;
        justify-self: right;
        
    }
   
    /*-----------------------------------------------------*/
    /*BÜCHER*/
    

    .BuchBild{
        width: 100%;
        max-width:250px; 
    }


    .modal {
    
        justify-content: center;
        grid-template-columns: 33% 30% 20%;
        grid-template-rows: 
        auto
        auto
        auto
        auto
        auto
        auto
        auto
        ;
        /*grid-template-rows: 20% 5% 40% auto 40% auto;*/
        width: 90%;
        height: 90vh;
        overflow-y: auto;
        
        gap:0.5em;
        grid-template-areas: 
            'box1 box1 box1'
            'box2 box3 box3'
            'box2 box3 box3'
            'box3-4 box3-4 box3-4'
            'box4 box4 box4'
            'box5 box5 box5'
            'box6 box6 box6'
            ;
        
    }
   
    /*---------------------------------------------MODAL-----------------------------------*/
    .gridbox{
        align-items: center;
        padding: 20px;
        height: auto;
        
        /*background-color: rgba(182, 169, 215, 0.4);*/
        /*border-radius: 10px;*/
        
    }

    

    #modal-cover{
        min-width:90%;
        max-width: 270px;
        height: auto;

    }
    .modal-beschreibung{
        width: 100%;
        height: 90%;
        align-self:baseline;
        
        line-height: 1.5em;
    }
    #modal-beschreibung1,#modal-beschreibung3{
        
        font-size: clamp(0.8em,1.3vw,1.2em);
        line-height: 1.5em;
       
    }
    #modal-beschreibung2{
        
        font-size: clamp(1em,1vw,1.2em);
        line-height: 1.5em;
        
    }
    #modal-beschreibung4{
        font-size: clamp(1.2em,1vw,1.4em);
        line-height: 1.5em;
    }

    
    #Buchbestellbutton{
       
        align-items: center;
        height: fit-content;
        grid-template-columns: 30% 30% 30%;
        grid-template-areas: 
        'p2 p3 p4';
    }
   
    
    /*-----------------------KONTAKT-----------------------*/
    
    #Kontaktbox{
        height: fit-content;
        display: flex;
        justify-content: center;
        
    }
    
    #Kontaktaufnahme{
        width: 10%;
    }
    #Kontakttext{
        width: 60%
    }

            

}



@media (min-width: 1200px){
   
    h1{
        padding-top: 100px;
        font-size: 60px;
    }
    h2{
        font-size: 2.5rem;
    }
    
   
    .modal {
   
        grid-template-columns: 400px 30% 20%;
    
    
    }
    
    #modal-cover{

        min-width:70%;

    }
    #modal-beschreibung1,#modal-beschreibung3{
        
        width: 90%;
    
        font-size: clamp(1.2em,0.9vw,1.5em);
        
        line-height: 1.4em;

    }
    
   
    
   
    
}





